body {
    font-family: "Lato", sans-serif;
}
.header {
    height: 50px;
    color: #903A00;
    background: #012323;
    font-family: Impact,Charcoal,sans-serif;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 5px;
}
#sidebar {
    margin-top: 55px;
    display: block;
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #233;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
}

#sidebar a {
    margin-top: 10px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.5s;

}

#sidebar a:hover, .offcanvas a:focus{
    color: #08cd08;
}


#main {
    transition: .5s;
    margin-left:50px;
    width: 100vw;
    height: 100vh;
    background-color:#F0F690;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}