<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "application/css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "application/css/font-awesome.css" %}">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="{% static "application/js/dashboard.js" %}"></script>
</head>

<body style="margin-top: 0px; margin-left: 0px; margin-right: 0px">
    <div class="w3-top">
        <ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">
            <li class="w3-padding-small w3-theme-d4" style="font-size: 30px; cursor: pointer; height: 57px;" onclick="hamburgerClick()"><p id="hamburger" style="color: blue; display: inline">&#9776;</p></li>
            <li><a href="#" class="w3-padding-large w3-theme-d4" style="height: 57px"><i class="glyphicon glyphicon-duplicate w3-margin-right"></i>All Applications</a></li>
        </ul>
        <div class="w3-display-topright">
            <ul class="w3-navbar w3-theme-d2 w3-large">
                <li style="margin-top: 4px;">
                    <form>
                        <input id="searchBox" type="search" placeholder="Search" style="">
                    </form>
                </li>
                <li class="w3-hide-small">
                    <a href="#" class="w3-padding-large w3-hover-white" title="Activity-log">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="w3-hide-small">
                    <a href="#" class="w3-padding-large w3-hover-white" title="Account Settings">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <li class="w3-hide-small w3-dropdown-hover" align="right">
                    <a href="#" class="w3-padding-large w3-hover-white" title="Notifications">
                        <i class="fa fa-bell"></i>
                        <span class="w3-badge w3-right w3-small w3-green">3</span>
                    </a>     
                </li>
                <li>
                    <div class="dropdown" style="all: initial;">
                        <button onclick="myFunction()" class="dropbtn">Hey, {{user}}
                        <div style="float: right;padding-top: 14px"><i class="apex-dn"></i></div></button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">Settings</a>
                            <a href="#">Sign Out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="sidebar">  <!-- Sidebar -->
        <form method="POST" style="margin-left: 10px" id="sideLinks">
            <!-- Sidebar links -->
            {% csrf_token %}
            <input type="hidden" name="username" value="sadasdsadadas">
            <a onclick="dashboard()" style="cursor: pointer"><i class="fa fa-user"></i>&nbsp;&nbsp;Dashboard</a>
            <a onclick="newApp()" style="cursor: pointer"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;New Application</a>
            <a onclick="allApplication()" style="cursor: pointer"><i class="glyphicon glyphicon-duplicate"></i>&nbsp;&nbsp;All Applications</a>
            <a href="#"><i class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;Sent Applications</a>
            <a href="#"><i class="fa fa-users"></i>&nbsp;&nbsp;Members</a>
            <a href="#"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Trash</a>
        </div>
    </div>
    <div id="main">
    <!-- The main content body-->
        <div class="all">
        <div class="w3-container">
            <h4 align="center"><b><i>Your Applications</i></b></h4>
                <div class="w3-responsive">
                <div class="w3-container">
                    <table class="w3-table-all w3-hoverable">
                    <tr>
                    <th><input type="checkbox" onClick="toggle(this)" /></th>
                    <th>TO</th>
                    <th>SUBJECT</th>
                    <th>DATE/TIME</th>
                    <th>STATUS</th>
                </tr>
                {% for application in applicationList %}
                    <tr>
                        <td><input type="checkbox" name="foo" value="bar1"></td>
                        <td>{{application.value.to}}</td>
                        <td>{{application.value.subject}}</td>
                        <td>{{application.value.date}}</td>
                        <td>{{application.value.status}}</td>
                    </tr>
                {% endfor %}}
                </table>
                <br>
                <div align="left">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-primary"><</button>
                    <button type="button" class="btn btn-primary">1</button>
                    <button type="button" class="btn btn-primary">2</button>
                    <button type="button" class="btn btn-primary">></button>    
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Page:1 of 2 Showing:1-4 of 4 applications
            </div>
        </div>
        </div>
        </div></div></form></div>
        </form></div>
    <footer class="w3-container w3-theme-d3 w3-padding-16">
        <h5><p align="center">
            <a href="#" target="_blank">Admin Support</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" target="_blank">Contact Us</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" target="_blank">FAQ's</a></p>
        </h5>
    </footer>

    <script language="JavaScript">
        function toggle(source) {
        checkboxes = document.getElementsByName('foo');
        for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
        }
    }
</script>

</body>
</html> 
