<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>e - Router| ApplicationDetail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="{% static "application/css/bootstrap1.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "application/css/style1.css" %}" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    
    <link href="{% static "application/css/sidebar.css" %}" rel="stylesheet">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>   
    <link rel="stylesheet" href="{% static "application/css/bootstrap.min.css" %}">
    <script src="{% static "application/js/jquery-1.11.1.min1.js" %}"></script>
    <script src="{% static "application/js/SmoothScroll.min1.js" %}"></script>
    <script src="{% static "application/js/dashboard.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "application/js/bootstrap.min.js" %}"></script>
    <style>
    hr {
        display: block;
        margin-top: 2em;
        margin-bottom: 0.5em;
        margin-left: 20px;
   
        border-style: inset;
        border-width: 1.5px;
   
        width:100%;

    }
    </style>
</head>
<body style="height: 100vh">
    <nav class="navbar navbar-inverse" style="vertical-align: middle; padding-right: 4px; margin: 0px 0px 0px 0px">
        <div class="container-fluid" style="padding: 0px 18px 0px 0px;">
            <ul class="nav navbar-nav">
                <li style="cursor: pointer;"><a style="font-size:18px" data-toggle="collapse" id="menu-toggle-2"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
            </ul>
            <div class="navbar-header">
                <span class="navbar-brand"><i>e</i> Router</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li style="line-height: 2; padding-top: 2%;">
                <form method="GET" action='/searchby'>
                <input name='search' type='text' style="width: 60%; padding-left: 4%; border-radius:30px;" id="searchbox" placeholder="&#128269 Search">
                </form>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                    {% if i is not 0 %}
                     <span class="glyphicon glyphicon-bell"><span class="badge" style="background: red; top: -15px; left: -7px; position: relative;">{{i}}</span></span>
                    {% else %}
                     <span class="glyphicon glyphicon-bell"></span>
                    {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        {% for notification in notificationList %}
                        {% if notification.value.type == 'create' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-envelope" style="color: orange;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'comment' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-comment" style="color: green;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'approve' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-ok-sign" style="color: green;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'disapprove' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-remove-sign" style="color: red;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'designation' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-education" style="color: black;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'forward' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-circle-arrow-right" style="color: blue;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-footer" align="center">
                            <a href="/notifications" align="center">
                            See all notifications
                            <i class="glyphicon glyphicon-chevron-right" style="color: #FF5274;"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="/profile"><span class="glyphicon glyphicon-wrench"></span></a></li>
                <li class="dropdown">
                    <a style="margin-top: -7px; margin-bottom: -10px" class="dropdown-toggle" type="button" data-toggle="dropdown"><img src='{{user.picUrl}}' style="height: 35px" class="img img-circle"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/activitylog"><span class="glyphicon glyphicon-time"></span> Activity Log</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="wrapper" class="toggled-2">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="height: 90vh">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
 
                <li>
                    <a href="/dashboard"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-home"></i></span> Dashboard</a>
                </li>
                <li>
                    <a href="/createApplication"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-pencil"></i></span> New Application</a>
                </li>
                <li>
                    <a href="/sentApplications"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-list-alt"></i></span>Sent Applications</a>
                </li>
                <li>
                    <a href="/trash"> <span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-trash"></i></span>Trash</a>
                </li>
                <li>
                    <a href="/members"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-user"></i></span>Members</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper" style="max-height: 90vh">
            <!-- single -->
    <div class="blog">
                <!-- container -->
                <div class="container">
                    <div class="col-md-8 blog-top-left-grid">
                        <div class="left-blog left-single">
                            <div class="blog-left"><h1><b>{{application.title}}</b></h1>
                                <div class="single-left-left">
                                    <p>By <a href="#">{{application.from}}</a>  on {{application.dateCreated}} <a href="#">Comments ({{commentList|length}})</a></p>
                                </div>
                                <div class="row">
                                <div class="col-md-1"><img class="media-object" style="height: 40px; width: 40px;"  src="{{application.picUrl}}" alt=""></div>

                                <div class="col-md-11">    {{application.subject|safe|escape}}</div>

                                </div>
                                <div align="right"><a href="/downloadpdf/{{appId}}"><b>Download as PDF</b></a></div>
                                {% if  status != 'hide'%}
                                <div class="row">
                                <form method="POST" action="/facultyAction/{{appId}}">
                                    <div class="col-md-7"></div>
                                    {% csrf_token %}
                                    {% if status == 'Approved' %}
                                        <div class="col-md-4 btn btn-success"><span style="color:red" class="glyphicon glyphicon-ok"></span>Approved</div>
                                    {% elif status == 'Disapproved' %}
                                        <div class="col-md-4 btn btn-danger"><span style="color:red" class="glyphicon glyphicon-ok"></span>Disapproved</div>
                                    {% else %}
                                    <div class="col-md-2"><button class="btn btn-success" type="submit" name="submit" value="Approved"><span style="color:red" class="glyphicon glyphicon-ok"></span> Approve</button></div>
                                    <div class="col-md-2"><button class="btn btn-danger"  type="submit" name="submit" value="Disapproved"><span style="color:red" class="glyphicon glyphicon-remove"></span> Disapprove</button></div>
                                    {% endif %}
                                </form>
                            </div>
                            {% endif %}
                            {% if commentList|length > 0 %}
                                
                            <div class="response">
                                <h3>Comments</h3>
                                {% for comment in commentList %}
                                {% if commentList|length > 1 %}
                                    <div class="media response-info" style="border-bottom: 1px solid">
                                {% else %}
                                    <div class="media response-info">
                                {% endif %}
                                    <div class="media-left response-text-left">
                                        <a href="#">
                                            <img class="media-object img-circle" style="height: 40px; width: 40px;" src="{{comment.value.picUrl}}" alt="">
                                        </a>
                                        <h5><a href="#" style="color: blue;">{{comment.value.username}}</a></h5>
                                    </div>
                                    <div class="media-body response-text-right">
                                        <p>{{comment.value.body}}</p>
                                        <ul>
                                            <li>{{comment.value.dateCreated}}</li>
                                        </ul>
                                      </div>
                                </div>
                                    <div class="clearfix"> </div>
                                {% endfor %}

                            
                            {% endif %}
                                     
                            
                            <div class="opinion">
                                <form action="/comment/{{appId}}" method="post">
                                    <textarea id='body' name="body" placeholder="Comment..." required=""></textarea>
                                    {% csrf_token %}
                                    <input type="submit" value="SEND">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- //container -->
    </div>
    <div style="margin-top: 10%"></div>
    </div>
    </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="w3agile-list">
                <ul>
                    <li><a href="about.html">Admin Support</a></li>
                    <li><a href="menu.html">Contact Us</a></li>
                    <li><a href="codes.html">FAQ's</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //copyright -->
    <script>
        $('#searchbox').focus(function() {
            $('#searchbox').animate({width: "100%"});
        });
        $('#searchbox').blur(function() {
            $('#searchbox').animate({width: "60%"});
        });
     $("#menu-toggle-2").click(function(e) {
        $("#wrapper").toggleClass("toggled-2");
        $('#menu ul').hide();
    });


  function generatePDF(){
alert();
  var conv = new ActiveXObject("pdfServMachine.converter");
  conv.convert("http://www.google.com", "c:\\google.pdf", false);
  WScript.Echo("finished conversion");
 }


    </script>
</body>
</html>
