<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <title>Router| Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "application/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "application/css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "application/css/font-awesome.css" %}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{% static "application/js/createApplication.js" %}"></script>
    <script src="{% static "application/js/bootstrap.min.js" %}"></script>
    <link href="{% static "application/css/sidebar.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "application/css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "application/css/font-awesome.css" %}">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body style="height: 100vh">
    <nav class="navbar navbar-inverse" style="vertical-align: middle; padding-right: 4px; margin: 0px 0px 0px 0px">
        <div class="container-fluid" style="padding: 0px 18px 0px 0px;">
            <ul class="nav navbar-nav">
                <li style="cursor: pointer;"><a style="font-size:18px" data-toggle="collapse" id="menu-toggle-2"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
            </ul>
            <div class="navbar-header">
                <span class="navbar-brand"><i>e</i>-Router</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li style="line-height: 2; padding-top: 2%;"><input name='search' type='search' style="width: 60%; padding-left: 4%; border-radius:30px;" id="searchbox" placeholder="&#128269 Search">
                <li><a href="#"><span class="glyphicon glyphicon-bell"><span class="badge" style="background: red; top: -15px; left: -7px; position: relative;">3</span></span></a></li>
                <li><a href="/editProfile"><span class="glyphicon glyphicon-wrench"></span></a></li>
                <li class="dropdown">
                    <a style="margin-top: -7px; margin-bottom: -10px" class="dropdown-toggle" type="button" data-toggle="dropdown"><img src='{{user.picUrl}}' style="height: 35px" class="img img-circle"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-time"></span> Activity Log</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="wrapper" class="toggled-2">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="height: 100vh">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
 
                <li>
                    <a href="/dashboard"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-home"></i></span> Dashboard</a>
                </li>
                <li class="active">
                    <a href="/createApplication"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-pencil"></i></span> New Application</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-list-alt"></i></span>Sent Applications</a>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-trash"></i></span>Trash</a>
                </li>
                <li>
                    <a href="/members"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-user"></i></span>Members</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper" style="max-height: 90vh;">
            <div class="landing-page" id="form-page" style="margin-top: 2%">
            <div class="form-appointment" id="form-tr">
                <div class="wpcf7" id="wpcf7-f560-p590-o1">
                    <form method="post" class="wpcf7-form" novalidate="novalidate" _lpchecked="1">
                        {%csrf_token%}
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="560">
                            <input type="hidden" name="_wpcf7_version" value="3.5">
                            <input type="hidden" name="_wpcf7_locale" value="">
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f560-p590-o1">
                            <input type="hidden" name="_wpnonce" value="dbb28877d5">
                        </div>
                        <div class="group">
                            <div style="width: 48%; float: left;">
                                <span class="wpcf7-form-control-wrap text-680">
                                    <input type="text" name="text-680" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" placeholder="Title">
                                </span>
                                <br>
                                <span class="wpcf7-form-control-wrap email-680">
                                    <input type="text" id="datepicker" name="dead_line" value="" size="45" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" placeholder="Deadline">
                                </span>
                                <br>
                                <span class="wpcf7-form-control-wrap textarea-398">
                                    <textarea id="area1" name="textarea-398" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="Body">
                                    </textarea>
                                </span>
                            </div>
                            <div style="width: 48%; float: right;">
                                <p>
                                <span class="wpcf7-form-control-wrap checkbox-465">
                                    <span class="wpcf7-form-control wpcf7-checkbox">
                                        <span class="wpcf7-list-item">
                                            <label>
                                            <input type="checkbox" name="checkbox-465[]" value="Director">&nbsp;
                                            <span class="wpcf7-list-item-label">Director</span>
                                                </label>
                                        </span>
                                        <span class="wpcf7-list-item">
                                            <label>
                                            <input type="checkbox" name="checkbox-465[]" value="Dean Academics">&nbsp;
                                            <span class="wpcf7-list-item-label">Dean Academics</span>
                                            </label>
                                        </span>
                                        <span class="wpcf7-list-item">
                                            <label>
                                                <input type="checkbox" name="checkbox-465[]" value="Dean Student Affair">&nbsp;
                                                <span class="wpcf7-list-item-label">Dean Student Affair</span>
                                            </label>
                                        </span>        
                                        <span class="wpcf7-list-item">
                                            <label>
                                                <input type="checkbox" name="checkbox-465[]" value="Cultural Council Mentor">&nbsp;
                                                <span class="wpcf7-list-item-label">Cultural Council Mentor
                                                </span>
                                            </label>
                                        </span>
                                        <span class="wpcf7-list-item">
                                            <label>
                                                <input type="checkbox" name="checkbox-465[]" value="Sports Council Mentor">&nbsp;
                                                <span class="wpcf7-list-item-label">Sports Council Mentor</span>
                                            </label>
                                        </span>
                                        <span class="wpcf7-list-item">
                                            <label>
                                                <input type="checkbox" name="checkbox-465[]" value="Sci. and Tech Council Mentor">&nbsp;
                                                <span class="wpcf7-list-item-label">Sci. and Tech Council Mentor</span>
                                            </label>
                                        </span>
                                        <span class="wpcf7-list-item">
                                            <label>
                                                <input type="checkbox" name="checkbox-465[]" value="Registrar">&nbsp;
                                                <span class="wpcf7-list-item-label">Registrar</span>
                                            </label>
                                        </span>
                                        <span class="wpcf7-list-item">
                                            <label>
                                                <input type="checkbox" name="checkbox-465[]" value="Student President">&nbsp;
                                                <span class="wpcf7-list-item-label">Student President</span>
                                            </label>
                                        </span>
                                        <span class="wpcf7-list-item">
                                            <label>
                                                <input type="checkbox" name="checkbox-465[]" value="Cultural G.Sec.">&nbsp;
                                                <span class="wpcf7-list-item-label">Cultural G.Sec.</span>
                                            </label>
                                        </span>
                                        <span class="wpcf7-list-item">
                                            <label>
                                                <input type="checkbox" name="checkbox-465[]" value="Sports G.Sec.">&nbsp;
                                                <span class="wpcf7-list-item-label">Sports G.Sec.</span>
                                            </label>
                                        </span>
                                        <span class="wpcf7-list-item">
                                            <label>
                                            <input type="checkbox" name="checkbox-465[]" value="Sci&Tech G.Sec.">&nbsp;
                                            <span class="wpcf7-list-item-label">Sci&Tech G.Sec.</span>
                                            </label>
                                        </span>
                                    </span>
                                </span>
                                </p>
                            </div>
                        </div>
                        <div style="text-align: center; padding-top: 1em; border-top: 1px solid rgb(153, 202, 129); margin-top: 1em;">
                            {% csrf_token %}
                            <input style="margin-top:10px;" type="submit" value="Submit" class="">
                        </div>
                    </form>
                </div>
            </div>
        </div>





        </div>
    </div>
    <script>
        $('#searchbox').focus(function() {
            $('#searchbox').animate({width: "100%"});
        });
        $('#searchbox').blur(function() {
            $('#searchbox').animate({width: "60%"});
        });
        $("#menu-toggle-2").click(function(e) {
            $("#wrapper").toggleClass("toggled-2");
            $('#menu ul').hide();
        });
        $(document).ready(function() {
            $("#datepicker").datepicker();
        });
        bkLib.onDomLoaded(function() {
            new nicEditor().panelInstance('area1');
            new nicEditor({fullPanel : true}).panelInstance('area2');
            new nicEditor({iconsPath : '../nicEditorIcons.gif'}).panelInstance('area3');
            new nicEditor({buttonList : ['fontSize','bold','italic','underline','strikeThrough','subscript','superscript','html','image']}).panelInstance('area4');
            new nicEditor({maxHeight : 100}).panelInstance('area5');
        });
    </script>
</body>
</html>