<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>e - Router| Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "application/css/bootstrap.min.css" %}">
    <link href="{% static "application/css/sidebar.css" %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "application/js/bootstrap.min.js" %}"></script>
</head>
<body style="height: 100vh; background-color: #F5F5F5">
    <nav class="navbar navbar-inverse" style="vertical-align: middle; padding-right: 4px; margin: 0px 0px 0px 0px">
        <div class="container-fluid" style="padding: 0px 18px 0px 0px;">
            <ul class="nav navbar-nav">
                <li style="cursor: pointer;"><a style="font-size:18px" data-toggle="collapse" id="menu-toggle-2"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
            </ul>
            <div class="navbar-header">
                <span class="navbar-brand"><i>e</i> Router</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li style="line-height: 2; padding-top: 2%;">
                <form method="GET" action='/searchby'>
                <input name='search' type='text' style="width: 60%; padding-left: 4%; border-radius:30px;" id="searchbox" placeholder="&#128269 Search">
                </form>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                    {% if i is not 0 %}
                     <span class="glyphicon glyphicon-bell"><span class="badge" style="background: red; top: -15px; left: -7px; position: relative;">{{i}}</span></span>
                    {% else %}
                     <span class="glyphicon glyphicon-bell"></span>
                    {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        {% for notification in notificationList %}
                        {% if notification.value.type == 'create' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-envelope" style="color: orange;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'comment' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-comment" style="color: green;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'approve' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-ok-sign" style="color: green;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'disapprove' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-remove-sign" style="color: red;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'designation' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-education" style="color: black;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% elif notification.value.type == 'forward' %}
                        <li>
                        <a href="read/{{notification.id}}">
                            <div>
                            <i class="glyphicon glyphicon-circle-arrow-right" style="color: blue;"></i>&nbsp;{{notification.value.text}}
                            <span class="pull-right text-muted small">{{notification.value.dateCreated}}</span>
                            </div>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-footer" align="center">
                            <a href="/notifications" align="center">
                            See all notifications
                            <i class="glyphicon glyphicon-chevron-right" style="color: #FF5274;"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="/profile"><span class="glyphicon glyphicon-wrench"></span></a></li>
                <li class="dropdown">
                    <a style="margin-top: -7px; margin-bottom: -10px" class="dropdown-toggle" type="button" data-toggle="dropdown"><img src='{{user.picUrl}}' style="height: 35px" class="img img-circle"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/activitylog"><span class="glyphicon glyphicon-time"></span> Activity Log</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="wrapper" class="toggled-2">
        <div id="sidebar-wrapper" style="height: 100vh">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
 
                <li class="active">
                    <a href="/dashboard"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-home"></i></span> Dashboard</a>
                </li>
                <li>
                    <a href="/createApplication"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-pencil"></i></span> New Application</a>
                </li>
                <li>
                    <a href="/sentApplications"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-list-alt"></i></span>Sent Applications</a>
                </li>
                <li>
                    <a href="/trash"> <span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-trash"></i></span>Trash</a>
                </li>
                <li>
                    <a href="/members"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-user"></i></span>Members</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper" style="max-height: 90vh;">
            <div class="row"><div class="col-lg-12" style="height: 40px"></div></div>
                <div class="row"><div class="col-sm-12"></div></div>
            {% if applicationList|length == 0 %}
                <center><h3 style="color: green">No application created yet! Click <a href='/createApplication'>here</a> to create.</h3></center>
            {% else %}
                <div class="container-fluid xyz col-sm-12">
                    <form method="POST" id="appSelected">
                    <!-- set COLOR -->
                        <div  style="padding-left: 50px; padding-right: 50px; padding-top: 30px; border-radius: 8px; background-color: #F5F5F5; " class="col-lg-12">
                            <div class="row" style="margin-bottom: 10px; background-color: #999999; padding: 10px; border-radius: 10px">
                                    <input style="margin-left: 2.8%;margin-right: 20px;" type="checkbox" onclick="selectAll(this)">
                                    <input type="submit" onclick="deleteApp()" name="submit" value="Delete" class="btn btn-sm btn-success">
                                    <input type="submit" onclick="" name="submit" style="margin-left: 17px;" value="Send Reminder" class="btn btn-sm btn-success">
                            </div>
                            <div class="row">
                                    <div class="panel-group" id="accordion">
                                        {% for app in applicationList %}
                                            {% with application=app.value %}
                                            <div class="panel panel-default" style="margin-top: 5px;">
                                                <div  class="btn btn-default btn-lg btn-block">
                                                    <h4 class="panel-title">
                                                        <input type="checkbox" style="margin-left: 2%" class="pull-left" name="applicationList" value={{app.class}}>
                                                        <span data-toggle="collapse" data-parent="#accordion" href={{app.id}}>
                                                        <div class="row">
                                                            <div class="col-sm-3">{{application.title}}</div>
                                                            <span class="col-sm-2 label label-danger">{{application.type}}</span>
                                                            {% if application.status == 'Approved' %}
                                                                <div class="col-sm-2" style="color: green"><span class="glyphicon glyphicon-ok"></span> {{application.status}}</div>
                                                            {% elif application.status == 'Disapproved' %}
                                                                <div class="col-sm-2" style="color: red"><span class="glyphicon glyphicon-remove"></span> {{application.status}}</div>
                                                            {% elif application.status == 'Pending' %}
                                                                <div class="col-sm-2" style="color: purple"><span class="glyphicon glyphicon-option-horizontal"></span> {{application.status}}</div>
                                                            {% else %}
                                                                <div class="col-sm-2">{{application.status}}</div>
                                                            {% endif %}
                                                            <div class="col-sm-2">{{application.dueDate}}</div>
                                                            <div class="col-sm-2">{{application.nextBy}}</div>
                                                        </div>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div id={{app.class}} class="panel-collapse collapse">
                                                <!-- set COLOR-->
                                                    <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-sm-1"></div>
                                                        <div class="col-sm-9" style="word-wrap: break-word;">{{application.subject|safe|escape}}</div>
                                                        <div class="col-sm-2"><a href="applicationDetail/{{app.class}}" class="btn btn-info">View application</a></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-9"></div>
                                                        <div class="col-md-2"> - <b><i><a href="#" style="color: green; color">{{application.from}}</a></i></b></div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endwith %}    
                                    {% endfor %}
                                    {% csrf_token %}
                                    </div>
                                </div>

                            </div>
                        </form>
            </div>
            {% endif %}
        </div>
    </div>
    <script>
        $('#searchbox').focus(function() {
            $('#searchbox').animate({width: "100%"});
        });
        $('#searchbox').blur(function() {
            $('#searchbox').animate({width: "60%"});
        });
        $("#menu-toggle-2").click(function(e) {
            $("#wrapper").toggleClass("toggled-2");
            $('#menu ul').hide();
        });
        function deleteApp() {
            document.getElementById("appSelected").action = '/movetotrash';
            document.getElementById("appSelected").submit();
        }
        function selectAll(source) {
            var checkboxes = document.getElementsByName('applicationList');
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
</body>
</html>