<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "application/css/dashboard.css" %}">
    <script src="{% static "application/js/dashboard.js" %}"></script>
</head>

<body style="margin-top: 0px; margin-left: 0px; margin-right: 0px">
    <div class="header" >
        <p id="hamburger" style="display: inline; cursor: pointer; color: blue" onclick="hamburgerClick()">&#9776;</p>&nbsp;&nbsp;Router
    </div> <!-- Button to pop sidebar -->
    <div id="sidebar">  <!-- Sidebar -->
        <div style="margin-left: 10px" id="sideLinks">
            <!-- Sidebar links -->
            <a href="#">Dashboard</a>
            <a href="#">New Application</a>
            <a href="#">All Applications</a>
            <a href="#">Sent Applications</a>
        </div>
    </div>

    <div id="main" onclick="outsideClick()">
    <!-- The main content body-->
    </div>    
    <script>
    
</script>
</body>
</html> 
