<html>

  <head>
    <title>e - Router| Sign up</title>
    <!-- Include the API client and Google+ client. -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="360227215700-44hrf13afr2t3ll7a9dcmhcc4pkjt7e9.apps.googleusercontent.com">
  <body>
  <div class="g-signin2" data-onsuccess="onSignIn">sad</div>
<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

    <!-- Container with the Sign-In button. -->
 </body>

  <script>
  /**
   * Handler for the signin callback triggered after the user selects an account.
   */
  function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}

  </script>

</html>
