<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

  <title>e - Router| Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>-->
    <!--<link href="{% static "application/css/bootstrap1.css" %}" rel="stylesheet" type="text/css" media="all" />-->
    <link rel="stylesheet" href="{% static "application/css/style1.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "application/css/cloudflarefont.css" %}">
    <link href='//fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "application/css/bootstrap.min.css" %}">
    <link href="{% static "application/css/sidebar.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "application/css/bootstrap.min.css" %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static "application/css/dashboard.css" %}">-->
    <link rel="stylesheet" type="text/css" href="{% static "application/css/font-awesome.css" %}">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'> 
    <script src="{% static "application/js/jquery-1.11.1.min1.js" %}"></script>
    <script src="{% static "application/js/SmoothScroll.min1.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "application/js/bootstrap.min.js" %}"></script>
    <script src="{% static "application/js/notify.js" %}"></script>
    <style>
    hr {
        display: block;
        margin-top: 2em;
        margin-bottom: 0.5em;
        margin-left: 20px;
   
        border-style: inset;
        border-width: 1.5px;
   
        width:100%;

    }
    .editForm {
        visibility: hidden;
    }
    </style>
    <datalist id="designationList">
        <option value='Director'>
        <option value='Dean Academics'>
        <option value='Dean Student Affair'>
        <option value='Cultural Council Mentor'>
        <option value='Sports Council Mentor'>
        <option value='Sci. and Tech Council Mentor'>
        <option value='Registrar'>
        <option value='Student President'>
        <option value='Cultural G.Sec.'>
        <option value='Sports G.Sec.'>
        <option value="Sci&Tech G.Sec.">
        <option value="Student">
    </datalist>
</head>
<body style="height: 100vh; background-color: #F5F5F5">
    <nav class="navbar navbar-inverse" style="vertical-align: middle; padding-right: 4px; margin: 0px 0px 0px 0px">
        <div class="container-fluid" style="padding: 0px 18px 0px 0px;">
            <ul class="nav navbar-nav">
                <li style="cursor: pointer;"><a style="font-size:18px" data-toggle="collapse" id="menu-toggle-2"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
            </ul>
            <div class="navbar-header">
                <span class="navbar-brand"><i>e</i> Router</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/adminprofile"><span class="glyphicon glyphicon-wrench"></span></a></li>
                <li class="dropdown">
                    <a style="margin-top: -7px; margin-bottom: -10px" class="dropdown-toggle" type="button" data-toggle="dropdown"><img src='{{user.picUrl}}' style="height: 35px" class="img img-circle"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="wrapper" class="toggled-2">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="height: 100vh">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
 
                <li>
                    <a href="/admindashboard"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-home"></i></span> Dashboard</a>
                </li>
                <li class="active">
                    <a href="/student"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-user"></i></span> Student Users</a>
                </li>
                <li>
                    <a href="/gymkhana"><span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-user"></i></span>Gymkhana Users</a>
                </li>
                <li>
                    <a href="/faculty"> <span class="fa-stack fa-lg pull-left"><i class="glyphicon glyphicon-user"></i></span>Faculty Users</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        
        <div id="page-content-wrapper" style="max-height: 90vh">
            <div class="menu">
                <div class="container">
                    <div class="menu-heading">
                        <h2>STUDENT USERS</h2><hr>
                    </div>
                    <div class="menu-top-grids">
                            {% for member in memberList %}
                            {% if forloop.counter0|divisibleby:4 %}
                        <div class="w3ls-menu-grids agileinfo">
                        {% endif %}
                            <div class="col-md-3 menu-grid">
                                <div class="agile-menu-grid" onmouseover="show(this)" onmouseout="hide(this)" id="div{{member.id}}">
                                    <a><center>
                                        <div class="crop">
                                        <img src="{{member.value.picUrl}}" alt="" class="img img-circle"/>
                                        </div>
                                        <center>
                                        <br>
                                        <div><font color="#333CFF">{{member.value.username}}</font></div></a>
                                        <div><font color="#333CFF">{{member.value.email}}</font></div><br>
                                        <form method="POST" id="form1{{member.id}}">
                                        <input type="hidden" name="userId" value="{{member.id}}">
                                        <input type="hidden" name="next" value="student">
                                        {% csrf_token %}
                                        <div class="editForm" id="form{{member.id}}">
                                            <input style="width: 170px" type="text" placeholder="Designation" onkeyup="fun(this)" name="designation" list="designationList" id="input{{member.id}}">
                                             <a onclick="cancel(this)" class="searchBox" id="close{{member.id}}" class="table-link">
                                                <span class="fa-stack1">
                                                    <i class="fa fa-square fa-stack1-2x"></i>
                                                    <i class="fa fa-close fa-stack1-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a onclick="edit(this)" id="{{member.id}}" class="table-link searchBox">
                                                <span class="fa-stack1">
                                                    <i class="fa fa-square fa-stack1-2x"></i>
                                                    <i class="fa fa-lock fa-stack1-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        </form>
                                        </center>
                                    
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 %}
                            <div class="clearfix"> </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    <br> <br> <br> <br> <br> <br><br><br><br>
    <footer><!-- class="w3-container w3-theme-d3 w3-padding-16">-->
        <h5><p align="center">
            <a href="#" target="_blank"><font color="white">Admin Support</font></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" target="_blank"><font color="white">Contact Us</font></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" target="_blank"><font color="white">FAQ's</font></a></p>
        </h5>
    </footer>
    </div>
    
    <script>
     $("#menu-toggle-2").click(function(e) {
        $("#wrapper").toggleClass("toggled-2");
        $('#menu ul').hide();
    });
     function show(element){
        var id = element.id.substr(3);
        document.getElementById("form".concat(id)).style.visibility = "visible";
     }
      function hide(element){
        var id = element.id.substr(3);
        if (document.getElementById("input".concat(id))!=document.activeElement){
            document.getElementById("form".concat(id)).style.visibility = "hidden";
        }
     }
     function cancel(element){
                            var searchBoxId = "input".concat(element.id.substr(5));
                            document.getElementById(searchBoxId).value = "";
                        }
    function edit(element){
        var id = element.id;
        var formId = "form1".concat(id);
        var inputId = "input".concat(id);
        if(document.getElementById(inputId).value.length >0){
            var text = "User set as ".concat(document.getElementById(inputId).value);
            $.notify(text, {className:'success', clickToHide: true, autoHide: true, globalPosition: 'top center', autoHideDelay: 5000});
            document.getElementById(formId).action = "/editdesignation";
            document.getElementById(formId).submit();
        }
    }
     function fun(element){
                            var data = document.getElementById("designationList"); 
                            while(data.hasChildNodes())
                                data.removeChild(data.lastChild);
                            var content = element.value;
                            var desig = ['Director', 'Dean Academics', 'Dean Student Affair', 'Cultural Council Mentor', 'Sports Council Mentor', 'Sci. and Tech Council Mentor', 'Registrar', 'Student President', 'Cultural G.Sec.', 'Sports G.Sec.', 'Sci&Tech G.Sec.', 'Student'];
                            for (var i = 0; i<desig.length; i++){
                                if (desig[i].toLowerCase().startsWith(content.toLowerCase())){
                                    var option = document.createElement('option');
                                    option.value = desig[i];
                                    data.appendChild(option);
                                }
                            }
                        }
    </script>
</body>
</html>
